
header h1 {
    background-color: indigo;
}

.card-body {
    background-color: indigo;
}

footer p {
    background-color: #41059b;
}


.container {
    display: flex;
    justify-content: space-between;
}