.navbar-brand{
   font-size: 25px;
   font-weight: 700;
}

.abt-me{
   display: flex;
   justify-content: center;
   line-height: 1.4;
   margin-top: 1.5rem;
   max-width: 900px;
   text-align: justify;
}

hr {
   width: 70%;
   color: blue;
}

li{
   list-style-type: none;
}

ul{
   text-align: start;
   line-height: 2;
}

ul strong{
   color: #41059b;
}

.line-education {
   width: 100%;
}

.eb1 {
   display: flex;
   justify-content: space-around;
  
}
.eb2 {
   display: flex;
   justify-content: space-around;
}

.em1 {
   display: flex;
   justify-content: space-around;
}

.es1 {
   display: flex;
   justify-content: space-around;
}

.line-experience {
   width: 100%;
}

.ac {
   text-align: center;
}

.fpm {
   text-align: end;
}

footer {
   background-color: #41059b;
}

